html,
body {
    height: 100%;
}

.wrap {
    min-height: 80%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #393D49;
    border-top: 1px solid #080808;
    padding-top: 20px;
	margin-top:30px;
}
.footer,.footer a{
	color:#fff;
}
.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}
/* 头部 */
.header{height: 59px; border-bottom: 1px solid #404553;  background-color: #393D49;}
.logo{position: absolute; left: 0; top: 16px;font-family:cursive;}
.logo img{width: 82px; height: 31px;}

.header .layui-nav{position: absolute; right: 0; top: 0; padding: 0; background: none;}
.header .layui-nav .layui-nav-item{margin: 0 20px; }
.header .layui-nav .layui-nav-item[mobile]{display: none;}

.header .layui-container .logo{left: 15px;}
.header .layui-container .layui-nav{right: 15px;}
.component{position: absolute; width: 160px; left: 120px; top: 16px; }
.component .layui-input{height: 30px; padding-left: 12px; background-color: #424652; background-color: rgba(255,255,255,.05); border: none 0; color: #fff; color: rgba(255,255,255,.5); font-size: 12px;}
.component .layui-form-select .layui-edge{display: none; border-top-color: #999;}
.component .layui-form-select dl{top: 36px; background-color: rgba(255,255,255,.9)}
.wrap{
	background-color: #f0f2f5;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: "\e151";
}

a.desc:after {
    content: "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view td {
    white-space: nowrap;
}

.grid-view .filters input,
.grid-view .filters select {
    min-width: 50px;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}
/* sidebar */
/*====================================================
	sidebar
====================================================*/
.sidebar .widget {
  background: #ffffff;
  padding: 21px 30px;
}
.widget {
  margin-bottom: 35px;
}
.widget .title {
  margin-top: 0;
  padding-bottom: 7px;
  border-bottom: 1px solid #ebebeb;
  margin-bottom: 21px;
  position: relative;
}
.widget .title:after {
  content: "";
  width: 90px;
  height: 1px;
  background: #e67e22;
  position: absolute;
  left: 0;
  bottom: -1px;
}
.widget .recent-post .recent-single-post {
  border-bottom: 1px dashed #ebebeb;
  padding-bottom: 14px;
  margin-bottom: 14px;
}
.widget .recent-post .recent-single-post:last-child {
  margin-bottom: 0;
}
.widget .recent-post .recent-single-post .post-title {
  color: #505050;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.widget .recent-post .recent-single-post .post-title:hover {
  color: #e67e22;
  text-decoration: none;
}
.widget .recent-post .recent-single-post .date {
  color: #959595;
}
.widget .tag-cloud a {
  border: 1px solid #ebebeb;
  padding: 2px 7px;
  color: #959595;
  line-height: 1.5em;
  display: inline-block;
  margin: 0 7px 7px 0;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.widget .tag-cloud a:hover {
  color: #ffffff;
  background: #e67e22;
  border: 1px solid #e67e22;
  text-decoration: none;
}
.widget .social {
  padding: 0;
  margin: 0;
}
.widget .social li {
  display: inline-block;
  margin: 0 2px 5px 0;
  text-align: center;
}
.widget .social li a i {
  width: 35px;
  height: 35px;
  line-height: 35px;
  border: 1px solid #ebebeb;
  color: #959595;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
.widget .social li:hover i {
  color: #ffffff;
  background: #e67e22;
  border: 1px solid #e67e22;
}
.widget .newsletter .input-group {
  margin-bottom: 10px;
  display: block;
}
.widget .newsletter .input-group .email,
.widget .newsletter .input-group btn {
  width: 100%;
}
.widget .ad {
  text-align: center;
}
.widget .ad img {
  max-width: 100%;
}
.topic-list {
    margin-top: 30px;
}
.topic-item {
    padding-bottom: 20px;
    margin-bottom: 30px;
    overflow: hidden;
    border-bottom: 1px solid #eee;
}
.topic-item:hover {
    border-bottom: 1px solid #35b558;
}

.topic-item:hover .title a {
    color: #35b558;
}

.topic-item .author-avatar {
    padding-top: 20px;
    width: 140px;
    text-align: center;
    float: left;
}

.manager {
    border: 1px solid #35b558;
    padding: 3px 5px 1px 5px;
    font-size: 12px;
    border-radius: 2px;
    color: #35b558;
}

.topic-item .author-avatar img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.topic-item .topic-content {
    position: relative;
    border-left: 1px solid #eee;
    float: left;
    padding-left: 20px;
    height: 120px;
    width: 646px;
}

.topic-item .topic-content:hover .extra span i{
    color: #f46660;
}

.topic-item .topic-content:hover .extra span{
    color: #333;
}

.topic-item .topic-content .arrow {
    position: absolute;
    top:40px;
    left: -7px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 7px 7px 7px 0;
    border-color: transparent #eee transparent transparent;
}

.topic-item .topic-content .arrow:before {
    position: absolute;
    content: "";
    top: -6px;
    left: 1px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 6.5px 6.5px 6.5px 0;
    border-color: transparent #fff transparent transparent;
}

.topic-item .topic-content .title {
    font-size: 16px;
    height: 28px;
    line-height: 28px;
    width: 80%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis
}

.topic-item .topic-content .title a {
    color: #333;
    font-weight: 500;
}

.topic-item .topic-content .title:hover a {
    color: #35b558;
    font-weight: 500;
}

.topic-content .content {
    margin: 10px 0;
    height: 45px;
    line-height: 24px;
    color: #999;
    overflow: hidden;
    text-overflow: ellipsis;
}

.topic-content .is-fine {
    border: 1px solid #f46660;
    margin-left: -20px;
    background-color: #f46660;
    color: #fff;
    padding: 3px 5px 1px 5px;
    font-size: 12px;
}

.topic-content .is-fine i{
    color: #FFD700;
    margin-right: 5px;
    font-size: 14px;
}

.topic-content .tag {
    float: left;
    padding: 3px 5px 1px 5px;
    margin-top: 2px;
    margin-right: 5px;
    font-size: 12px;
    border-radius: 2px;
}

.topic-content .extra {
    margin-top: 3px;
    font-size: 12px;
    color: #a9a7a7;
    padding: 5px 5px 5px 0;
}

.topic-content .extra span {
    margin-right: 10px;
}

.topic-content .extra span i {
    margin-right: 5px;
}

.sidebar-notice .title {
    text-align: center;
    border-bottom: 1px solid #eee;
    font-size: 16px;
    padding: 10px 0;
    margin-bottom: 15px;
}
.site-wxlist .list{
	display: inline-block;
}
.site-wxlist .group{
	display:inline;
	float:left;
	margin:0 10px 10px 0;
	border:1px solid green;
	padding:5px;
}
.site-wxlist .group .group-title{
	font-size:18px;
	font-weight:bold;
	color:green;
}
.site-wxlist .group .group-desc{
	overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 2;
   -webkit-box-orient: vertical;
	width:170px;
}
.site-wxlist .screen{
	line-height:24px;
}
.site-wxlist .screen .title{
	font-weight:bold;
	font-size:18px;
	margin-top:5px;
}
.site-wxlist .screen .tag a{
	display:inline-block;
	padding:5px;
}

.page{
	text-align:center;
}

.navbar-collapse .navbar-right li.active a{background-color:#35b558}
.navbar-collapse .navbar-right li.active a:hover{background-color:#35b558}
.navbar-collapse .navbar-right li a:hover{background-color:#35b558}
.navbar-collapse .navbar-right li p {padding:15px;margin:0;}
.wrap .layui-container .c-body{background:#fff;padding:10px;}
.layui-header .logo{color:#fff;font-size:30px;}

.sx .tag a{
	padding:5px 10px;
}
.sx .title{font-weight:bold;}
.sx .tag a:hover,.sx .tag a.active{
	background:#393D49;
	color:#fff;
	border-radius:5px;
}
.sx{line-height:24px !important;margin:10px 10px 20px 10px;}
.cmdlist-text .info {
    height: 40px;
    font-size: 14px;
    line-height: 20px;
    width: 100%;
    overflow: hidden;
    color: #666;
    margin-bottom: 10px;
}
.cmdlist-text .price {
    font-size: 14px;
}
.cmdlist-text .price b {
    margin-right: 20px;
}
.cmdlist-text .price p {
    display: inline-block;
	text-align: left;
	float: left;
}
.cmdlist-text .flow {
    text-align: right;
    float: right;
}
.wxq-detail .wxq-code{
	padding:10px;
	text-align:center;
	display:inline-block;
}
.wxq-detail .wxq-code .layui-tab-content{
	border:1px solid #bfbebe;
	padding:10px;
	text-align:center;
	display:inline-block;
	margin:20px 0 0 0;
}
.wxq-detail .wxq-code .layui-tab-content .p1{line-height:36px;}
.wxq-detail .content .title{
	font-weight:bold;
	line-height:30px;
	font-size:30px;
	padding:10px 0;
}
.wxq-detail .content .desc{line-height:24px;color:#999}
.wxq-detail .content .other-info{margin:20px 0;}
.wxq-detail .content .other-info li span{border:1px solid #c17c15;padding:5px;border-radius:5px;margin-right:10px;}
.wxq-detail .wxq-code .layui-tab ul{border:none;}
.wxq-detail .wxq-code .layui-tab ul li{border:1px solid #999;border-radius:0 10px 10px 0;}
.wxq-detail .wxq-code .layui-tab ul li:first-child{border-radius:10px 0 0 10px;}
.wxq-detail .wxq-code .layui-tab ul li.layui-this:after{border:none;width:0px;height:0px;}
.wxq-detail .wxq-code .layui-tab ul li.layui-this{background:#393D49;color:#fff}

/* 适配多设备 */
@media screen and (max-width: 750px) {
  .layui-main{width: auto; margin: 0 10px;}
  .logo,
  .header-demo .logo{left: 10px;}
  .component{display: none}

  .header .layui-nav-child{left: auto; right: 0;}
  .site-demo-overflow{overflow: auto;}

  .site-nav-layim{display: none !important;}
  .header .layui-nav .layui-nav-item{margin: 0;}
  .header .layui-nav .layui-nav-item a{padding: 0 20px;}
  .header .layui-nav .layui-nav-item[pc]{display: none;}
  .header .layui-nav .layui-nav-item[mobile]{display: inline-block;}
  .site-banner{height: 300px;}
  .site-banner-bg{background-size: cover;}
  .site-zfj{height: 100px; padding-top: 5px;}
  .site-zfj i{top: 10px; width: 100px; height: 100px; margin-left: -50px; font-size: 100px;}
  .site-desc{background-size: 70%; margin: 0;}
  .site-desc .web-font-desc{padding-top: 20px; font-size: 30px;}
  .site-desc cite{display: none;}
  .site-download{margin-top: 0; }
  .site-download a{height: 40px; line-height: 40px; padding: 0 25px 0 60px; border-radius: 30px; color: #fff; font-size: 16px;}
  .site-download a cite{left: 20px;}
  .site-banner-other{bottom: 10px;}

  .site-idea{margin: 20px 0;}
  .site-idea li{margin: 0 0 20px 0; width: 100%; height: auto; -webkit-box-sizing: border-box !important; -moz-box-sizing: border-box !important; box-sizing: border-box !important;}
  .site-hengfu img{max-width: 100%}

  .site-block .layui-form{margin-right: 0;}

  .layui-layer-dir{display: none;}
  .site-tree{position: fixed; top: 0; bottom: 0; min-height: 0; overflow: auto; z-index: 1000; left: -260px; background-color: #fff;  transition: all .3s; -webkit-transition: all .3s;}
  .site-content{width: 100%; padding: 0; overflow: auto;}
  .site-content img{max-width: 100%;}
  .site-tree-mobile{display: block!important; position: fixed; z-index: 100000; bottom: 15px; left: 15px; width: 50px; height: 50px; line-height: 50px; border-radius: 2px; text-align: center; background-color: rgba(0,0,0,.7); color: #fff;}
  .site-home .site-tree-mobile{display: none!important;}
  .site-mobile .site-tree-mobile{display: none !important;}
  .site-mobile .site-tree{left: 0;}
  .site-mobile .site-mobile-shade{content: ''; position: fixed; top: 0; bottom: 0; left: 0; right: 0; background-color: rgba(0,0,0,.8); z-index: 999;}
  .site-tree-mobile i{font-size: 20px;}
  .layui-code-view{-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}

  .layui-layout-admin .layui-side{position: fixed; top: 0; left: -260px; transition: all .3s; -webkit-transition: all .3s; z-index: 10000;}
  .layui-body{position: static; bottom: 0; left: 0;}
  .site-mobile .layui-side{left: 0;}
  .site-mobile .layui-side-child{top: 50%; left: 200px; height: 300px; margin-top: -100px;}

  body .layui-layout-admin .footer-demo{position: static; height: auto; line-height: 30px;}
  .footer-demo p{height: auto;}

  .site-demo-area,
  .site-demo-editor,
  .site-demo-result,
  .site-demo-editor textarea,
  .site-demo-result iframe{position: static; width: 100%;}
  .site-demo-editor textarea{height: 350px;}
  .site-demo-zanzhu{display: none;}
  .site-demo-btn{bottom: auto; top: 370px;}
  .site-demo-result iframe{height: 500px;}

  .site-demo-laytpl textarea, .site-demo-laytpl div span{margin: 0;}
  .site-demo-tplres .site-demo-tplh2, .site-demo-tplres .site-demo-tplview{width: 100%; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}

  .site-demo-title{position: static; left: 0;}
  body .layui-layout-admin .site-demo{}
  .site-demo-code{position: static; height: 350px;}
}


